<span>{{city}}, {{street}}
    <ul id="" class="d-none list-group">
        <li id="{{id}}" class="list-group-item" style="color:black">
            {{number}}
            <span class="badge badge-pill badge-success">
                {{status}}
            </span>
        </li>
    </ul>
</span>